#hey{
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
.main{
  text-align: center;
}
.intro{
  background-image:url('http://www.toca-ch.com/data/walls/26/22095517.jpg');
  background-size:cover;
  z-index:12;
  width:100%;
  background-repeat:no-repeat;
  height:800px;
  margin-top: 0;
}
img{
  width: 500px;
  height: 280px;
}
#education, #programs{
  float: left;
  margin-right: 25px;
  margin-bottom:20px;
}
#jobs{
  float: right;;
  margin-left: 25px
  margin-bottom:20px;

}
.jobs{
  clear: both;
}
.projects{
  clear: both;
}
p,h1,#about{
  text-align: center;
}
nav{
  padding:15px;
  position: relative;
  margin-top: 0;
  margin-bottom: auto;
  background: #377D64;
  position: relative;
}
ul{
  text-align: left;
}
li{
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  letter-spacing: 2px;
  color: white;
  font-size: 18px;
}
nav ul li a:hover{
  color:
}
h1:hover{
  text-decoration: underline;
  color:  #377D64;
}
#intro:hover{
  text-decoration: none;
  text-align: center;
}
#intro{
  font-size: 100px;
  font-weight: 600;
  color: white;
  font-weight: 600;
}
span{
  color: #377D64;
  font-weight: bold;
}
#more{
  text-align: center;
  text-decoration: none;
  font-size: 80px;
  background: #377D64;
  color: white;
  padding-top: 15px;
  padding-left: 15px
  padding-right:10px;
  padding-bottom: 15px;
}
.Programming{
  clear: both;
}
.Projects{
  clear: both;
}
.paragraph{
  font-size: 20px;
  font-weight:300;
}
.projo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#new{
  width: 28%;
}
.projo img {
  width:400px ;
  height:250px;
  box-sizing: border-box;
  border-top: 1px solid #377D64;
  border-bottom: 1px solid #377D64;
  border-left: 1px solid #377D64;
  border-right: 1px solid #377D64;
}
#new a{
  font-size: 18px;
  text-decoration: none;
  background: #377D64;
  color: white
  text-transform:uppercase;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
}
.contacts{
  background-color: #377D64;
  color:white;
}
