#hey{
  width: 200px;
  height: 150px;
  border-radius: 100px;
}
.intro{
  background-image:url('/images/bg.jpg');
  background-size:cover;
  z-index:8;
  width:100%;
  background-repeat:no-repeat;
  height:800px;
}
img{
  width: 500px;
  height: 280px;
}
#education{
  float: left;
}
#jobs{
  float: right;

}
.jobs{
  clear: both;
}
/* body{
  text-align: center;
} */
.clear{
  clear: both;
}
p,h1,#about{
  text-align: center;
}
nav{
  padding:15px;
  position: relative;
  margin-top: 0;
  margin-bottom: auto;
  background: #377D64;
}
ul{
  text-align: left;
}
li{
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  letter-spacing: 2px;
  color: white;
}
nav ul li a:hover{
  color:
}
h1:hover{
  text-decoration: underline;
  color:  #377D64;
}
#intro:hover{
  text-decoration: none;
  color: black;
}
#intro{
  font-size: 50px;
  font-weight: 600;
}
span{
  color: #377D64;
  font-weight: bold;
}
